
body{
    margin: 0;
    font-family: Futura!important;
    letter-spacing: 0.03em!important;
}


.select-brand{
    width:35%
}
.select-model{
    width:35%
}
.select-number{
    width:20%
}
.storage{
    width:25%
}
.btn{
    width:15rem
}